/* Importo i css dei componenti */
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

@import "components/Header/header.css";
@import "components/Content/content.css";
@import "components/LogosSection/LogosSection.css";
@import "components/Feature/feature.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.body {
  position: relative;
  width: 1440px;
  height: 866px;
  background-image: url("assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
